# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas

#Front End
streamlit
requests
PIL
matplotlib.pyplot
pydeck

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
memoized-property
termcolor
