# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
geopandas

#Front End
streamlit
requests
matplotlib
pydeck

# API
gcsfs
google-cloud-storage

# utilities
six>=1.14
memoized-property
termcolor
